doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    #footer.div
      p by 
        a(href="http://xurdeonrails.com", target="new") xurde
